{% extends 'pages/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<h3> Hotel Information </h3>
<h4> Welcome to Safari Lodge
    Experience the thrill of the wild with a stay at Safari Lodge, the only on-site hotel within Riget Zoo. Nestled in the heart of the zoo, our lodge offers a unique opportunity to immerse yourself in nature while enjoying the comforts of home.
    Accommodation
    Rooms and Suites:
    Savanna View Rooms: Enjoy stunning views of the savanna exhibits. Each room features a private balcony, king-sized beds, and luxurious amenities.
    Family Suites: Spacious accommodations perfect for families, complete with a kitchenette, separate sleeping areas, and fun safari-themed decor.
    Deluxe Cottages: For a more rustic experience, our cottages provide a cozy retreat with outdoor patios and direct access to the zoo trails.
    Amenities
    On-Site Dining: Savor delicious meals at our restaurant, featuring a menu inspired by global flavors and local ingredients. Don’t miss our themed dining events!
    Swimming Pool & Spa: Relax in our outdoor pool or unwind at the spa with treatments inspired by nature.
    Kids’ Adventure Zone: A dedicated play area with animal-themed activities, ensuring fun for the whole family.</h4>

{% endblock %}