{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
<img src="{% static 'imagery/zoo-background.jpg' %}" class ="ancontainer" alt="">

<div class="container">

  <div class="row">
    
<div class="col card shadow-lg " style="width: 18rem;">
        <div class="card-header pricecardindexheader">
            Pricing
          </div>
        <div class="card-body pricecardindex">
          <h5 class="card-title">Hotel prices per day</h5>
          <h6 class="card-subtitle mb-2 text-muted">  Children under 12 = £25
            <br>
            Teens (13-17) = £40
            <br>
            Adults (17+) = £55 </h6>
            <h5 class="card-title">Zoo prices per day</h5>
            <h6 class="card-subtitle mb-2 text-muted"> 
              Children under 12 = £10
              <br>
              Teens (13-17) = £20
              <br>
              Adults (18+) = £30
            </h6>
        </div>
      </div>



 <div class="col card shadow-lg " style="width: 18rem;">
        <div class="card-header pricecardindexheader">
            Location
          </div>
        <div class="card-body pricecardindex">
          <h5 class="card-title">We are located in Outer Cir, London. Post code: NW1 4RY</h5> 
        </div>
      </div>


    </div> 
</div>

{% endblock %}