{% load  static %}

{% block content %}
<div class = "navb">
<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand text-dark" href="#">Riget Zoo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="btn dropdown-toggle navbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Login
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Login</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Admin Login</a>

          </li>
          &nbsp; &nbsp;
        <li class="nav-item">
          <a class="btn navbtn" href="#">Register</a>
          &nbsp; &nbsp;
        </li>
        <li class="nav-item">
          <a class="btn navbtn" href="#">Plan your visit</a>
        </li>
        &nbsp; &nbsp;
        {% comment %} dropdown {% endcomment %}
        <li class="nav-item dropdown">
          <a class="btn dropdown-toggle navbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Info
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Our Location</a>
            <a class="dropdown-item" href="#">Our Animals</a>
            <a class="dropdown-item" href="#">Hotel Information</a>
            <a class="dropdown-item" href="#">Education</a>
          </div>
        </li>
            {% comment %} dropdown end {% endcomment %}
            &nbsp; &nbsp;
        <li class="nav-item">
          <a class="btn navbtn" href="#">Loyalty</a>
        </li>
      </ul>
      </form>
    </div>
  </nav>
</div>
{% endblock %}