{% load  static %}

{% block content %}
<div class = "navb">
<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand text-dark" href="{% url '' %}">Riget Zoo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="btn navbtn" href="{% url 'logout' %}">sign out</a>
        {% else %}
        <li class="nav-item dropdown">
            <a class="btn dropdown-toggle navbtn" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Login
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'login' %}">Login</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'admin:index' %}">Admin Login</a>

          </li>
          
          &nbsp; &nbsp;
        <li class="nav-item">
          <a class="btn navbtn" href="{% url 'register' %}">Register</a>
          
        </li>
        {% endif %}
        &nbsp; &nbsp; 
        <li class="nav-item">
          <a class="btn navbtn" href="#">Plan your visit</a>
        </li>
        &nbsp; &nbsp;
        
        <li class="nav-item dropdown">
          <a class="btn dropdown-toggle navbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Info
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Our Location</a>
            <a class="dropdown-item" href="{% url 'animals' %}">Our Animals</a>
            <a class="dropdown-item" href="{% url 'hotel' %}">Hotel Information</a>
            <a class="dropdown-item" href="#">Education</a>
          </div>
        </li>
            
            &nbsp; &nbsp;
        <li class="nav-item">
          <a class="btn navbtn" href="#">Loyalty</a>
        </li>
        &nbsp; &nbsp; &nbsp;
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="btn navbtn  profilebtn" href="{% url 'profile' %}">logged in as {{ user.username }}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="btn navbtn1  profilebtn" href="{% url 'profile' %}">Guest</a>
        </li>
        {% endif %}
      </ul>
      </form>
    </div>
  </nav>
</div>
{% endblock %}