{% extends 'pages/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

<div class="container bg-primary text-white p-5 form-layout">
    <h3>Payment Site</h3>
    <hr>
    <br>
    
    
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{paymentform|crispy}} 
        <br>
        <br>
        <h2 id="hotel_output" > Hotel cost : £{{booking.hotel_total_cost}} </h2>
        <button type="submit" class="btn btn-primary w-100 btn-block p-2 paymentbutton"> Pay &nbsp; <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
    
    </form>


</div>
<br>


{% endblock %}