.navb{

    background-color: #0FA4AF;
    padding: 10px ;
}

.dropdown-menu{

    background-color: #AFDDE5;

}

.navbtn{
    
    background-color: #AFDDE5;
    white-space: nowrap;
    border-color: black;
}


.dropdown-item:hover{

    background-color: #bdeaf1;
}
.pricecardindex{
    background-color: #9be2ee;
    
}

.pricecardindexheader{
    background-color: #90e4f3;
}

.card3{
    margin-top:200px;
    
}

.form-layout{

    border-radius: 5px;
    width: 500px;
    background-color: #5db0be;
}

.errorlist{
    color: red;     
}

.profilebtn{

    margin-left: 1000px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -12px
    
}

.navbtn1{
    background-color: #AFDDE5;
    white-space: nowrap;
    border-color: black;
}

body   {
    background-color: rgb(204, 248, 250);
}