.navb{

    background-color: #47e985;
    padding: 10px ;
}

.dropdown-menu{

    background-color: rgb(156, 250, 156);

}

.navbtn{
    
    background-color: rgb(156, 250, 156);
    white-space: nowrap;
    border-color: black;
}


.dropdown-item:hover{

    background-color: rgb(125, 253, 125);
}
.pricecardindex{
    background-color: red;
    border-bottom-left-radius: 50px 20px;
    border-bottom-right-radius: 50px 20px;
}

.pricecardindexheader{
    background-color: rgb(251, 88, 88);
}

.card3{
    margin-top:200px;
    border-bottom-left-radius: 50px 20px;
    border-bottom-right-radius: 50px 20px; 
}

.form-layout{

    border-radius: 5px;
    width: 500px;
    background-color: #47e985;
}

.errorlist{
    color: red;     
}

.profilebtn{

    margin-left: 1000px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -12px
    
}

.navbtn1{
    background-color: rgb(7, 235, 7);
    white-space: nowrap;
    border-color: black;
}